@font-face {
								font-family: Lato;
								src: url('../res/Lato-Regular.ttf');
}

body{
  background: url(../img/back.jpg);
  width:100%;
  margin: 0px;
}
header{
      height: 20px;
      background: #171717;
      color: white;
      font-family: Lato;
      text-transform: uppercase;
      text-align: center;
      transition: height 1s;

}
header:hover{
      height: 50px;
}
footer{
      position: fixed;
      bottom: 0;
      width: 100%;
      height: 20px;
      background: #B5B5B5;
      transition: height 1s;
      text-align: center;
}

footer:hover{
      height: 50px;
}
#line{
      margin-top: -10px;
}
#content {
	display: -moz-box;
	-moz-box-orient: horizontal;
	width:100%;
	height: 700px;
}
#content > div {
	-moz-box-flex: 1;
}
#content > div:nth-child(1){ border-right:#000 dotted 1px; }
#content > div:nth-child(2){ 
-moz-box-flex:3;
border-right:#000 dotted 1px;
	}
#content > div:nth-child(3){  }
